<search-bar searchtext="postsList.searchText"></search-bar>
<post-add></post-add>
<ul class="collection hoverable">
    <li class="collection-item" class="no-pad;" style="line-height: 1rem; margin: 0px;" ng-repeat="post in postsList.posts" data-collapsible="accordion"
        infinite-scroll="postsList.incrementLimit()" infinite-scroll-distance="1">
        <p style="font-weight: bold"><span class="badge"><created-at time="post.createdAt"></created-at>&nbsp;&nbsp;#{{ post.seq }}</span>{{ post.nickname }}</p>
        <p>&nbsp;&nbsp;&nbsp;{{ post.content }}</p>
        <div class="right-align">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
            <i class="fa fa-google-plus-square" aria-hidden="true"></i>
        </div>
    </li>
</ul>